---
import Section from "@/components/Section.astro";
import { education } from "@cv";
---
<Section title="Educacion">
  <ul>
    {
      education.map(
        ({
          institution,
          startDate,
          endDate,
          url,
          studyType,
          area,
          courses,
        }) => {
          const years = `${startDate} | ${
            endDate === null ? "Actual" : endDate
          }`;
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h2>{institution}</h2>
                    <h4>{area}</h4>
                  </div>
                  <time>{years}</time>
                </header>
                <div>
                  <p>{studyType}</p>
                </div>
                <footer>
                  {courses.map((curso) => {
                    return <span>{curso}</span>;
                  })}
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }
  li {
    transition: all 0.2s ease-in-out;
    padding: 3px;
  }
  li:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  article h2 {
    font-weight: 600;
    color: #3e3c3c;
  }

  article h4 {
    color: #222;
    font-weight: 500;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  time {
    font-size: 0.75rem;
    color: #666;
  }
  footer {
    margin-top: 4px;
  }
  span {
    background: #f1f1f1;
    padding: 0.2rem .6rem;
    margin-right: 4px;
    font-size: 12px;
    border-radius: 10px;
    border: .8px solid #f1f1f1;
  }
</style>